$main-bg : darkmagenta;
$secondary-bg : fuchsia;

$main-color : aliceblue; 
$secondary-color : rgba(0, 215, 215, 0.5); 

$gap-xxl : 4rem;
$gap-xl : 3rem;
$gap-l : 2rem;
$gap-m : 1rem;
$gap-s : .8rem;

$ff-xxl : 4rem;
$ff-xl : 3rem;
$ff-l : 1.3rem;
$ff-m : 1rem;
$ff-s : .8rem;